name: Create new release on dispatch

permissions:
  contents: write

on:
  workflow_dispatch:

jobs:
  create-release:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Determine version
        id: info
        run: |
          # Example: set VERSION however you want
          # Replace this with your own logic to define a version
          VERSION=0.7.7-blitzwing
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@de2c0eb89ae2a093876385947365aca7b0e5f844
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.info.outputs.version }}
          name: ${{ steps.info.outputs.version }}
          body_path: body.md
